include ../../consts.pug

-
  const today = new Date();
  const fourDaysAfterToday = new Date();
  fourDaysAfterToday.setDate(fourDaysAfterToday.getDate() + 4);
  const filterDateDefault = {
    title: `${getHumanityDate(today)} - ${getHumanityDate(fourDaysAfterToday)}`
  }

mixin c-dropdown({ theme, label=null, value=null, isOpen=false})
  
  - let openClass = isOpen ? 'open' : '';
  -
    switch (theme) {
      case 'guests':
        value == null ? value = DROPDOWN_GUESTS_DEFAULT : '';
        themeClass = 'c-dropdown--guests';
        break;
      case 'facilities':
        value == null ? value = DROPDOWN_FACILITIES_DEFAULT : '';
        themeClass = 'c-dropdown--facilities';
        break;
      case 'date':
        value == null ? value = DATE_DROPDOWN_DEFAULT : '';
        themeClass = 'c-dropdown--date';
        break;
      case 'filter-date':
        value == null ? value = filterDateDefault : '';
        themeClass = 'c-dropdown--filter-date';
        break;
    }
    
  .c-dropdown(class= [openClass, themeClass])
    if label !== null
      label.c-dropdown__label= label
    .c-dropdown__body
      .c-dropdown__header
        p.c-dropdown__title= value.title


      if theme === 'guests' || theme === 'facilities'
        .c-dropdown__main
          ul.c-dropdown__list
            each item in value.items
              li.c-dropdown__item
                h3.c-dropdown__item-title= item.name
                .c-dropdown__counter
                  if item.value == 0
                    button.c-dropdown__decrement(disabled)
                  else
                    button.c-dropdown__decrement
                  p.c-dropdown__count= item.value
                  button.c-dropdown__increment

          if theme === 'guests'
            .c-dropdown__control
              button.c-dropdown__clean(class= (value.title == 'Сколько гостей') ? 'hidden' : '') Очистить
              button.c-dropdown__confirm Применить



